<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
		<appSettings>
			<!-- List all your web.config paths here, separated by semicolons -->
			<add key="WebConfigPaths" value="C:\inetpub\wwwroot\PrjPioneer1\web.config;C:\inetpub\wwwroot\Pioneer\web.config;C:\inetpub\wwwroot\PrjPioneer1ERB\web.config;C:\inetpub\wwwroot\PioneerERP\web.config;C:\inetpub\wwwroot\PrjPioneer10G0\web.config;C:\inetpub\wwwroot\Pioneer0G0\web.config;C:\inetpub\wwwroot\PrjPioneer10H0\web.config" />
		</appSettings>
</configuration>
